{% extends "basehome.html" %}

{% block content %}
<h1 class="display-4">Retrieve Feedbacks</h1>
<div>
      {% if count == 0 %}
  <p>There are no feedback.</p>
  {% elif count == 1 %}
  <p>There is 1 feedback.</p>
  {% else %}
  <p>There are {{ count }} feedbacks.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped" border="solid white 1px" style="color: white;">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Feedback</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
         {% for i in feed_list %}
      <tr>
        <td style="color: white;">{{ feed_list[i].get_contact_id() }}</td>
        <td style="color: white;">{{ feed_list[i].get_name() }}</td>
        <td style="color: white;">{{ feed_list[i].get_email() }}</td>
        <td style="color: white;">{{ feed_list[i].get_feedback() }}</td>

        <td><a href="#" class="btn btn-warning">Update</a></td>
        <td>
            <form action="{{url_for('delete_feed', id=feed_list[i].get_contact_id())}}" method="POST">
              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" id="delete">
                  Delete <i class="fas fa-trash-alt"></i>
              </button>

              <!-- The Modal -->
              
      </form>

        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}