{% extends "base.html" %}
{% block title %}Retrieve Booking{% endblock %}

{% block content %}

<head>
  <title>Retrieve Booking</title>
</head>

  <h1>Retrieve Booking</h1>
<div>
  {% if count == 0 %}
  <p>No Booking.</p>
  {% elif count == 1 %}
  <p>There is 1 Booking.</p>
  {% else %}
  <p>There are {{ count }} Booking.</p>
  {% endif %}
</div>
  <table>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Date and Time</th>
      <th>Location Address</th>
    </tr>
    {% for booking in booking_list %}
    <tr>
      <td>{{ booking.get_name() }} </td>
      <td>{{ booking.get_phone_number() }} </td>
      <td>{{ booking.get_email() }} </td>
      <td>{{ booking.get_date() }}  {{ booking.get_time() }} </td>
      <td>{{ location_address }} </td>


    </tr>
              <td><a href="/updatebooking/{{booking.get_booking_id()}}" class="btn btn-warning">Update</a></td>
<td>
            <form action="{{url_for('delete_booking', id=booking.get_booking_id())}}" method="POST">
<!--              <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{booking.get_name()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{booking.get_booking_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{booking.get_booking_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{booking.get_name()}} ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

