{% extends "base.html" %}
{% block title %}Update Credit Card{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
  <title>Update Credit Card</title>
</head>
  <h1>Update Credit Card</h1>
  <form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.cardholder, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.cardnumber, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.exp_month, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.exp_year, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.verification, class="form-control") }}
  </div>
    <p></p>
          {% for message in get_flashed_messages() %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
